* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainbox {
  /* height: 100vh; */
  background-color: #f4f6f8;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  padding: 10px 20px;
  /* margin-bottom: 30px; */
  border: none;
  background-color: black;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: 100%;
}


.card {
  width: 220px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;   
  object-fit: cover;
  margin-bottom: 15px;
}

.card h3 {
  font-size: 18px;
  margin-bottom: 5px;
  color: black;
}

.card p {
  color: #333;
  font-size: 14px;
}
   

.load{
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}